[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-simpleui = "*"
pillow = "*"

[requires]
python_version = "3.6"
